*.xslt linguist-language=XSLT linguist-detectable
*.xml  linguist-language=XML linguist-detectable
*.html -linguist-generated
*.rdf linguist-language=XML linguist-detectable -linguist-generated -linguist-vendored -linguist-documentation
